.header {
  display: flex;
  padding: 1.5em;
  position: fixed;
  width: 100%;
  z-index: 15;
}

.earth {
  height: 24px;
  padding-right: 1em;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  margin-left: auto;
  margin-right: 3em;
}

.nav-wrapper {
  display: flex;
  
}

.nav .nav-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
}

.nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-item-home {
  display: flex;
}

.nav-item-home:hover, .nav-item-home-text:hover {
  text-decoration: underline;
  cursor: pointer;
}
