.header {
    display: flex;
    padding: 1.5em;
    position: fixed;
    width: 100%;
}

.earth {
    height: 24px;
    padding-right: 1em;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    margin-left: auto;
    margin-right: 3em;
}

.nav-wrapper {
    display: flex;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

.nav-link {
    margin-left: 3em;
}