#contact {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-text {
    display: flex;
    margin: 1.5em;
    color: #000;
    text-decoration: none;
}

.icon-text:hover {
    display: flex;
    margin: 1.5em;
    color: #000;
    text-decoration: underline;
}

.icon {
    margin-right: .5em;
}

.social-media {
    display: flex;
}