.wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #031924;
  color: #ecf0f1;
}

.front-page-wrapper {
  display: flex;
  height: 100%;
}

.button-container {
  margin-top: 2.5em;
}

.planet {
  animation: spin-right infinite 60s linear;
  height: 96px;
  position: absolute;
  margin-top: 136px;
  margin-left: 136px;
}

#circle-orbit-container {
  position: relative;
  height: 300px;
  width: 300px;
  margin-left: -150px;
  margin-top: -150px;
}

#inner-orbit {
  position: absolute;
  width: 360px;
  height: 360px;
  border: 2px #3f3f3f dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 20s linear infinite;
  animation: spin-right 20s linear infinite;
}

.inner-orbit-cirlces {
  position: absolute;
  top: 140px;
  left: -13px;
}

#middle-orbit {
  position: absolute;
  width: 560px;
  height: 560px;
  top: -100px;
  left: -100px;
  border: 2px #4A437F dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 60s linear infinite;
  animation: spin-right 60s linear infinite;
}

.middle-orbit-cirlces {
  position: absolute;
  top: 72px;
  left: 72px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #4A437F;
}

#outer-orbit {
  position: absolute;
  width: 1000px;
  height: 1000px;
  top: -320px;
  left: -320px;
  border: 2px #1d3519 dashed;
  border-radius: 100%;
  -webkit-animation: spin-right 120s linear infinite;
  animation: spin-right 120s linear infinite;
}

.outer-orbit-cirlces {
  position: absolute;
  top: 112px;
  left: 150px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #4a923d;
}

.content {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.introduction {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -10%;
  margin-left: 10%;
  z-index: 10;
}