#about {
  display: flex;
  height: 100%;
}

.content-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

@media only screen and (max-width: 1000px) {
  .content-left {
    display: none;
  }
}

.content-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.transformation1 {
  position: absolute;
  margin-top: -2px;
  width: 100%;
  height: auto;
}

.about-me {
  flex: 4;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 1000px) {
  .about-me {
    margin: 2em;
  }
}


.about-me-text {
  line-height: 350%;
}

@media only screen and (max-width: 1000px) {
  .about-me-text {
    line-height: 200%;
  }
}

@media only screen and (min-width: 1000px) {
  .outer-column {
    flex: 1
  }
}
