.content-wrapper {
    display: flex;
}

.content-left {
    margin-left: 3em;
    margin-right: 3em;
}

.content-right {
    text-align: center;
}

.skill {   
    animation: skill-animation 2s ease-out;
}
  
@keyframes skill-animation { 
    0%  { width:0px;}
    100%{ width:70%;}
}

.skill-wrapper {
    border: 2px dotted;
    border-radius: 12px;
    margin: 1em;
}