body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #031924;
  color: #ecf0f1;
}

html, main {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content-wrapper {
  padding: 120px;
}

.link-no-style {
  text-decoration: none;
  color: #ecf0f1;
}

#root {
  height: 100%;
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.button-reversed {
  border: black dashed 2px;
  background-color: transparent;
  color: black;
  font-family: 'Space Mono', monospace;
  font-size: 1em;
  padding: .5em;
  margin: .5em;
}

.buttonReversed:hover {
  border: black 2px outset;
  cursor: pointer;
}

button {
  border: #ecf0f1 dashed 2px;
  background-color: transparent;
  color: #ecf0f1;
  font-family: 'Space Mono', monospace;
  font-size: 1em;
  padding: .5em;
  margin: .5em;
}

button:hover {
  border: #ecf0f1 2px outset;
  cursor: pointer;
}

button:focus {
  outline: 0;
}