.projects-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.project-wrapper {
    background-color: #07293a;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    color: #ecf0f1;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .project-wrapper {
        width: 100%;
    }
}

.title-text {
    position: absolute;
    left: 20%;
    top: 3.5em;
}

@media only screen and (max-width: 600px) {
    .title-text {
      display: none;
    }
  }

.image {
    max-height: 100%;
    width: 100%;
}

.image-wrapper {
    margin: auto;
    background-color: white;
    border-radius: 4px;
    padding: 4px;
    width: 30%;
}

.date {
    position: absolute;
}