.projects-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.project-wrapper {
    margin-bottom: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .project-wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .title-text {
      display: none;
    }
  }

.image {
    max-height: 100%;
    width: 100%;
}

.image-wrapper {
    margin: auto;
    background-color: white;
    border-radius: 4px;
    padding: 4px;
    width: 30%;
}

.date {
    position: absolute;
}